p.mobile {
    display:none;
}

p.desktop {
display:inline;
}

body {
    text-align:center;
    background-color:yellow;
    font-family: Calibri, Charcoal, cursive;
}
body.index {
    background-image:url('http://rapradar.files.wordpress.com/2011/04/3-feet-high-and-rising-cover.jpg');
    background-repeat:no-repeat;
    background-position: center;
}


h1 {
    font-family: Apple Chancery, Charcoal, serif;
    font-size: medium;
}

