p.mobile {
    display:none;
}

p.desktop {
display:inline;
}


body.bio {
    text-align:center;
    background-color:pink;
    font-family: Calibri, Charcoal, serif;
body.resume {
    text-align:center;
    background-color:yellow;
    font-family: Calibri, Charcoal, serif;
}
body.index {
    background-repeat:no-repeat;
    background-position: bottom center;
    background-color:gray;
    font-family: Calibri, Charcoal, serif;
}

p.info {
    text-align: center;
    text-color: blue;
}

p.pic {
    text-align: center;
}
h1 {
    font-family: Apple Chancery, Charcoal, serif;
    font-size: medium;
}
p.story {
    font-family: Courier New, Charcoal, serif;
    font-size: small;
    text-color: black;
}
