p.mobile {
    display:none;
}

p.desktop {
display:inline;
}

body {
    text-align:center;
    background-color:yellow;
    font-family: Calibri, Charcoal, cursive;
    
}

h1 {
    font-family: Apple Chancery, Charcoal, serif
};
